:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.add-bookmark {
  position: fixed;
  bottom: 10px;
  right: 10px; }
  .add-bookmark__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none; }
  .add-bookmark__icon {
    padding: 1rem 1rem 0.8rem;
    width: 5rem;
    height: 5rem; }

.sidebar {
  position: relative;
  color: var(--color-grey-light-1);
  transition: all .5s; }
  .sidebar.closed {
    flex: 0 0 0; }
    .sidebar.closed .side-nav {
      display: none; }
  .sidebar__toggle {
    position: absolute;
    right: -3rem;
    top: 20px;
    padding: 2rem 0;
    background-color: var(--color-grey-dark-2); }
  .sidebar__toggle-off, .sidebar__toggle-on {
    width: 3rem;
    height: 3rem;
    fill: var(--color-grey-light-1); }
  .sidebar__toggle-checkbox {
    display: none; }
  .sidebar__toggle-checkbox:checked ~ .sidebar__toggle-label > .sidebar__toggle-off {
    display: none; }
  .sidebar__toggle-checkbox:checked ~ .sidebar__toggle-label > .sidebar__toggle-on {
    display: inline-block; }
  .sidebar__toggle-checkbox:not(:checked) ~ .sidebar__toggle-label > .sidebar__toggle-off {
    display: inline-block; }
  .sidebar__toggle-checkbox:not(:checked) ~ .sidebar__toggle-label > .sidebar__toggle-on {
    display: none; }

.side-nav {
  list-style: none; }

.bookmark {
  background-color: var(--color-grey-dark-2);
  padding: 5px; }
  .bookmark__main {
    display: flex;
    align-items: center; }
  .bookmark__title {
    padding: 0 .5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem; }
  .bookmark__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .8rem; }
  .bookmark__rating-star {
    width: 1rem;
    height: 1rem; }
  .bookmark__views {
    margin-left: .5rem;
    color: var(--color-grey-dark-1); }
  .bookmark__button {
    width: 1.5rem;
    height: 1.5rem; }
  .bookmark__settings {
    align-self: flex-end; }

.search {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    min-width: 10rem;
    transition: all .3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.category-card {
  border: 1px solid black;
  border-radius: 3px;
  flex-basis: 25%;
  margin: 20px; }
  .category-card__header {
    position: relative; }
  .category-card__header:hover > .category-card__search {
    visibility: visible;
    opacity: 1;
    width: 70%;
    transition: all .3s ease-out .2s; }
  .category-card__header:hover > .category-card__header-overlay {
    visibility: visible;
    opacity: 0.3; }
  .category-card__header:hover > .category-card__settings-button {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-out .2s; }
  .category-card__header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-grey-light-1);
    transition: all .3s ease-out; }
  .category-card__settings-button {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: transparent;
    border: none; }
    .category-card__settings-button:focus {
      outline: none; }
  .category-card__settings-icon {
    width: 3rem;
    height: 3rem; }
  .category-card__search {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; }
  .category-card__image {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .category-card__bookmarks-list {
    list-style: none;
    height: 20rem;
    overflow-y: scroll; }

.user-nav {
  padding: 1rem 2rem; }
  .user-nav__top {
    display: flex; }
  .user-nav__quick-links {
    flex: 1 1;
    display: flex;
    justify-content: center; }
  .user-nav__user-control {
    flex: 0 1; }
  .user-nav__icon {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    padding: 1rem; }
  .user-nav__search {
    margin: 0 auto;
    width: 30%;
    font-size: 1.4rem; }

.content {
  display: flex;
  height: calc(100vh - 7rem); }

.sidebar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main {
  width: 100%; }

.index-container {
  margin: 0 auto; }

.search-container {
  max-width: 700px;
  margin: 0 auto; }

.categories {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  justify-content: center; }
