/////////////////////
//// ADD BUTTON
.add-bookmark {
  position: fixed;
  bottom: 10px;
  right: 10px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
  }

  &__icon {
    padding: 1rem 1rem 0.8rem;
    width: 5rem;
    height: 5rem;
  }
}

/////////////////////
//// SIDEBAR
.sidebar {
  position: relative;
  color: var(--color-grey-light-1);
  transition: all .5s;

  &.closed {
    flex: 0 0 0;

    .side-nav {
      display: none;
    }
  }

  &__toggle {
    position: absolute;
    right: -3rem;
    top: 20px;
    padding: 2rem 0;
    background-color: var(--color-grey-dark-2);
  }

  &__toggle-off,
  &__toggle-on {
    width: 3rem;
    height: 3rem;
    fill: var(--color-grey-light-1);
  }

  &__toggle-checkbox {
    display: none;
  }

  &__toggle-checkbox:checked ~ &__toggle-label > &__toggle-off {
    display: none;
  }

  &__toggle-checkbox:checked ~ &__toggle-label > &__toggle-on {
    display: inline-block;
  }

  &__toggle-checkbox:not(:checked) ~ &__toggle-label > &__toggle-off {
    display: inline-block;
  }

  &__toggle-checkbox:not(:checked) ~ &__toggle-label > &__toggle-on {
    display: none;
  }
}

/////////////////////
//// SIDE-NAV
.side-nav {
  list-style: none;
}

/////////////////////////
/// BOOKMARK
.bookmark {
  background-color: var(--color-grey-dark-2);
  padding: 5px;
  &__main {
    display: flex;
    align-items: center;
  }

  &__title {
    padding: 0 .5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .8rem;

  }

  &__rating-star {
    width: 1rem;
    height: 1rem;
  }

  &__views {
    margin-left: .5rem;
    color: var(--color-grey-dark-1);
  }

  &__button {
    width: 1.5rem;
    height: 1.5rem;
  }
  &__settings {
    align-self: flex-end;
  }
}