{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="categories">
        <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <div class="category-card__header-overlay"></div>
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>
            <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>
            <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>
            <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>
            <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>
            <div class="category-card" data-search-url="{# path to category pk #}">
            <div class="category-card__header">
                <button class="category-card__settings-button">
                    <svg class="category-card__settings-icon">
                        <use xlink:href="{% static 'img/sprite.svg' %}#icon-cog"></use>
                    </svg>
                </button>
                <img src="{% static 'img/django.jpeg' %}" alt="" class="category-card__image">
                <div class="category-card__search">
                    <input type="text" class="category-card__search-input" placeholder="Search bookmarks">
                </div>
            </div>
            <ul class="category-card__list">
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
                <li class="category-card__item">
                    <a href="#" class="category-card__link">Bookmark 1</a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}